.content-container {
  background-color: #fff;
  padding: 23px 21px 12px;
}

.content-container--sm-p-top {
  padding-top: 18px;
}

.content-container--no-p-top {
  padding-top: 0;
}

.picture__container {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media only screen and (min-width: 640px) {
  .footer__container {
    position: relative;
  }
}

@media only screen and (min-width: 1024px) {
  footer {
    background-color: #1f1f1f;
    width: 100%;
    border-top: 1px solid #fff;
    margin-top: 20px;
  }

  .container--max-width {
    width: 960px;
    margin: 0 auto;
  }

  .footer__container {
    display: flex;
    justify-content: space-between;
  }
}
