.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  margin-top: 1rem;
  padding: 9px 11px 10px;
  border-bottom: 1px solid #fff;
}

@media only screen and (min-width: 1024px) {
  .grid-container {
    display: grid;
    box-sizing: content-box;
    width: 960px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 320px);
    grid-template-rows: 430px 350;
    background-color: #000;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
  }
}