.contact {
  background-color: #1f1f1f;
  color: #fff;
  border-top: 1px solid #fff;
  padding: 1.9375rem 1.3125rem;
  margin-bottom: 1px;
}

.contact__title {
  color: #fff;
  font-size: 1.333rem;
  font-size: 400;
}

.contact__details {
  display: flex;
}

.contact__icon {
  width: 35px;
  height: 35px;
  margin-top: 1.625rem;
}

.contact__address {
  padding-left: 0.75rem;
  margin-top: 1.5rem;
}

.contact__address > p {
  font-size: 1.08333rem;
  font-weight: 400;
}

.contact__street {
  padding-bottom: 0.25rem;
}

.contact--right {
  display: none;
}

.contact__svg {
  display: none;
}

@media only screen and (min-width: 640px) {
  .contact {
    margin-bottom: none;
    height: 100%;
  }

  .contact::after {
    content: '';
    clear: both;
    display: table;
  }

  .contact--left {
    float: left;
  }

  .contact--right {
    display: block;
    float: right;
  }

  .contact__svg {
    display: block;
    padding-top: 1.125rem;
    height: 89px;
    width: 85px;
  }
}

@media only screen and (min-width: 1024px) {
  .contact {
    border: none;
    margin: 0;
    padding-left: 1.375rem;
    width: 40%;
  }

  .contact__svg {
    display: flex;
    justify-content: center;
    width: 20%;
    height: 118px;
  }

  .contact__svg img {
    display: block;
    height: 118px;
    width: 113px;
  }
}