.events__event {
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  padding-top: 1.125rem;
}

.events__event--left {
  text-align: center;
}

.events__month {
  font-size: 1.08333rem;
  font-weight: 400;
}

.events__date {
  font-size: 2rem;
  font-weight: 900;
  color: #990000;
}

.events__text {
  font-size: 1.0833rem;
  font-weight: 900;
  padding-left: 1rem;
}

.events__view {
  display: block;
  font-weight: 900;
  padding-top: 1.8125rem;
  padding-bottom: 1.5rem;
}

@media only screen and (min-width: 640px) {
  .events__date {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .events__event {
    padding-top: 1.0625rem;
  }

  .events__view {
    padding-top: 1.75rem;
  }
}