.school {
  background-color: #fff;
  border-bottom: 3px solid #d9d9d9;
  width: 100%;
  padding: 32px 21px 29px; 
}

.school__name {
  color: #333;
  padding: 0;
}

.school__type {
  font-size: 1.333rem;
  font-weight: 400;
}

