.school {
  background-color: #fff;
  border-bottom: 3px solid #d9d9d9;
  width: 100%;
  padding: 40px 21px 29px; 
}

.school__name {
  color: #333;
  font-size: 40px;
}

.school__type {
  font-weight: 400;
}

