.information {
  background-color: #fff;
  padding: 1.5rem 1.3125rem;
}

.info__title {
  font-size: 1.5rem;
}

.info__title--padding-top {
  padding-top: 3.333rem;
}

.info__subtitle {
  font-size: 1.25rem;
  font-weight: 900;
  padding-top: 1rem;
}

.info__text {
  font-size: 1.08333rem;
  font-weight: 400;
  width: 100%;
  padding-top: 1.3125rem;
}

.info__link {
  display: block;
  font-size: 1.08333rem;
  padding-top: 1.375rem;
}