.nav {
  background-color: #990000;
  color: #fff;
}

/* Mobile menu for phones and tablets */
.mobile {
  background-color: #7a0000;
  width: 91px;
  position: relative;
}

.mobile__icon {
  height: 12px;
  width: 18px;
  position: absolute;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
  cursor: pointer;
}

.mobile__icon span {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #fff;
  height: 2px;
}

.mobile__icon span:first-of-type {
  top: 0;
}

.mobile__icon span:last-of-type {
  bottom: 0;
}

.mobile__icon span:nth-of-type(1) {
  top: 50%;
  transform: translateY(-50%);
}

.mobile__text {
  padding: 15px 11px 13px 43px;
}

.mobile__text > h2 {
  color: #fff;
  font-size: 0.75rem;
  font-weight: 900;
}

/* Mobile Menu styling */
.mobile__menu {
  display: none;
  position: absolute;
  left: 0;
  width: 14rem;
  text-align: center;
}

.mobile__menu--show {
  display: block;
  background-color: #990000;
  border: 2px solid #fff;
  z-index: 5;
}

#school > span,
#library > span {
  display: block;
  font-size: 1.08333rem;
}

.mobile__dropdown,
.mobile__menu #school > span,
.mobile__menu #library > span,
.mobile__menu > .nav__link {
  width: 100%;
  padding: 0.75rem 0;
}

.nav__submenu--school > .nav__link,
.nav__submenu--library > .nav__link {
  width: 100%;
}

.nav__submenu--school,
.nav__submenu--library {
  display: none;
}

.nav__submenu--school .nav__link,
.nav__submenu--library .nav__link {
  background-color: #fff;
  color: #990000;
  padding: 1.5rem 0;
}

.nav__submenu--show {
  display: block;
}

/* Nav menu items and links */
.active {
  background-color: #7a0000;

}

.nav__menu {
  display: none;
  width: 100%;
}

.nav__link {
  color: #fff;
  font-weight: 400;
}

@media only screen and (min-width: 640px) {
  .mobile {
    width: 110px;
  }

  .mobile__text {
    padding: 15px 10px 13px 42px;
  }

  .mobile__text > h2 {
    font-size: 1.1666rem;
  }
}

@media only screen and (min-width: 1024px) {
  .nav {
    width: 100%;
  }
  /* Hide mobile menu and icon when on desktop size */
  .mobile {
    display: none;
  }

  .nav__menu {
    display: flex;
    align-items: center;
    width: 960px;
    margin: 0 auto;
    list-style-type: none;
  }

  #school .nav__link,
  #library .nav__link,
  .nav__link {
    padding: 0.75rem 0.6875rem 0.5625rem;
    transition: all .3s ease-out;
  }
  
  .nav__link:hover {
    background-color: #7a0000;
  }

  .nav__submenu {
    display: none;
  }

  /* Display sublinks for Our School and Library */
  #school,
  #library {
    position: relative;
  }

  #school:hover,
  #library:hover {
    background-color: #7a0000;
  }

  #school:hover .nav__submenu--school,
  #library:hover .nav__submenu--library {
    display: block;
  }

  .nav__submenu--school .nav__link,
  .nav__submenu--library .nav__link {
    width: 10rem;
    padding: 0.5rem 2rem;
  }

  .nav__submenu--school,
  .nav__submenu--library {
    display: none;
    position: absolute;
    left: 0;
    z-index: 5;
  }

  .nav__submenu--school .nav__link:hover,
  .nav__submenu--library .nav__link:hover {
    background-color: #7a0000;
    color: #fff;
  }
}
