.shortcuts__list {
  font-size: 1.08333rem;
  padding-left: 1.3125rem;
}

.shortcuts__item {
  margin-bottom: 0.875rem;
}

.shortcuts__item:last-of-type {
  margin-bottom: 0;
}

.shortcuts__link {
  font-weight: 900;
}

.shortcuts__link:hover {
  color: #7a0000;
}

@media only screen and (min-width: 1024px) {
  .shortcuts {
    max-width: 320px;
  }
  
  .shortcuts__link {
    font-size: 0.8125rem;
  }
}