.social {
  background-color: #1f1f1f;
  padding: 2rem 1.3125rem 0;
  margin-top: 1px;
}

.social__title {
  color: #fff;
  font-size: 1.25rem;
}

.social__items {
  padding: 1.625rem 0.3125rem;
}

.social__link {
  display: inline-block;
  padding-right: 9px; 
}

.social__icon {
  color: #fff;
  height: 30px;
  width: 30px;
}

@media only screen and (min-width: 1024px) {
  .social {
    width: 40%;
    margin: 0;
    padding: 1.9375rem 0 0 1.175rem;
  }

  .social__link {
    padding-right: 0.8125rem;
  }

  .social__link:first-of-type {
    padding-left: none;
  }

  .social__icon {
    height: 2.625rem;
    width: 2.625rem;
  }
}
